@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
*{
    color: #dadada;
    background-color: #1e1e1e;
    font-family: 'Gilda Display', serif;
}

::selection {
    color: #1e1e1e;
    background-color: #dadada;
}